@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background-color: white;
    overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Para navegadores que no soportan scroll-behavior */
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f0f9ff;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #0371a4;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-button {
    display: none;
  }