@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f9ff;
}

::-webkit-scrollbar-thumb {
  background: #0371a4;
  border-radius: 25px;
}

::-webkit-scrollbar-button {
  display: none;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}